:root {
  --text-color: #333333;
  --gold-light: #FF9900;
  --gold-dark: #E1670E;
  --white-color: #ffffff;
  --button-lightgold:#ffb74c;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title_big {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: var(--text-color);
}

body {
  font-family: 'Montserrat', Arial, sans-serif ;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--text-color);
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__wrapper {
  display: flex;
  align-items: center;

  padding: 12px 0 12px 0;
}

.header__logo {
  margin-right: 20px;
}

.header__nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 85px;
  margin-right: 85px;
}

.nav__link {
  margin: 0;
  padding: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;

  color: var(--text-color);
}

.nav__link:hover {
  border-bottom: 2px solid var(--gold-light);
}

.nav__link:focus {
  border: 2px solid var(--gold-light);
}

.nav__link:active {
  color: var(--gold-active);
  border-bottom: 2px solid var(--gold-dark);
}

.header__search {
  position: relative;
  padding: 4px;
}

.header__search:hover .handle {
  fill: var(--gold-light);
}

.header__search:hover .circle {
  stroke: var(--gold-light);
}

.header__search:focus {
  border: 2px solid var(--gold-dark);
}

.header__search:focus .handle {
  fill: var(--text-color);
}

.header__search:focus .circle {
  stroke: var(--text-color);
}


/* hero */

.hero .container{
  max-width: 1770px;
  min-height: 620px;
  margin: 0 auto 100px;

  background-color: #6699ff;
  background-image: url(../img/hero-img-1.jpg);
  background-size: cover;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 620px;

  padding: 100px 65px;
}

.hero__title {
  margin: 0 0 24px 0;
  max-width: 837px;

  font-size: 70px;
  font-weight: 800;
  line-height: 85px;

  color: var(--white-color);
}

.hero__subtitle {
  margin: 0 0 15px 0;
  max-width: 790px;

  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: var(--white-color);
}

.hero__button {
  align-self: flex-start;
  margin-top: auto;
  padding: 24px 36px;

  font-size: 23px;
  font-weight: 700;
  line-height: 28px;

  background-color: var(--gold-light);
  color: var(--white-color);
}

.hero__button:hover {
  background-color: var(--button-lightgold);
}

.hero__button:focus {
  background-color: var(--button-lightgold);
}

.hero__button:active {
  background-color: var(--gold-dark);
}


/* about */

.about {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 20px;
}

.about__description {
  margin: 0 0 50px 0;
  max-width: 1235px;
}

.about__wrapper {
  display: flex;
}

.about__column {
  max-width: 870px;
  flex-grow: 1;
  flex-basis: 868px;

}

.column-wrap {
  /* max-width: 868px; */
  min-height: 622px;
  margin-right: 32px;

  display: flex;
  align-items: flex-end;

  background-image: url('../img/about-img.jpg');
  background-size: cover;
  background-color: var(--text-color);
}

.column-wrap__box {
  width: 100%;
  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.5);
}

.column-wrap__text {
  max-width: 454px;
  margin-right: 15px;
  font-weight: 700;
  color: var(--white-color);
}

.column-wrap__button {
  display: inline-block;
  padding: 20px 38px;


  line-height: 19px;
  font-weight: 700;
  color: var(--white-color);

  border: 3px solid var(--gold-light);
}

.column-wrap__button:hover {
  background-color: var(--button-lightgold);
}

.column-wrap__button:focus {
  background-color: var(--button-lightgold);
}

.column-wrap__button:active {
  background-color: var(--gold-dark);
}

.column-row__wrapper {
  padding: 65px 0 65px 300px;
  border: 1px solid #CACACA;
}

.column-row__wrapper_top {
  margin-bottom: 32px;
}
