:root {
  --text-color: #333333;
  --gold-light: #FF9900;
  --gold-dark: #E1670E;
  --white-color: #ffffff;
  --button-lightgold:#F7B045;
  --button-gray-hover: #666666;
  --black: #000000;
  --light-grey: #CACACA;
  --footer-bg-color: #222222;
  --form-content: #414141;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title_big {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: var(--text-color);
}

.title_small {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: var(--text-color);
}

body {
  font-family: 'Montserrat', Arial, sans-serif ;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--text-color);
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__wrapper {
  display: flex;
  align-items: center;

  padding: 12px 0 12px 0;
}

.header__logo {
  margin-right: 20px;
}

.header__nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 85px;
  margin-right: 85px;
}

.nav__link {
  margin: 0;
  padding: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;

  color: var(--text-color);
  border: 2px solid var(--white-color);
}

.nav__link:hover {
  border-bottom: 2px solid var(--gold-light);
}

.nav__link:focus {
  border: 2px solid var(--gold-light);
}

.nav__link:active {
  color: var(--gold-active);
  border-top: 2px solid var(--white-color);
  border-left: 2px solid var(--white-color);
  border-right: 2px solid var(--white-color);
  border-bottom: 2px solid var(--gold-dark);
}

.header__search {
  position: relative;
  padding: 4px;
  border: 2px solid var(--white-color);
}

.header__search:hover .handle {
  fill: var(--gold-light);
}

.header__search:hover .circle {
  stroke: var(--gold-light);
}

.header__search:focus {
  border: 2px solid var(--gold-dark);
}

.header__search:focus .handle {
  fill: var(--text-color);
}

.header__search:focus .circle {
  stroke: var(--text-color);
}


/* hero */

.main {
  margin-bottom: 100px;
}

.hero {
  margin-bottom: 100px;
}

.hero .container{
  position: relative;
  max-width: 1770px;
  min-height: 620px;
  margin: 0 auto;

  background-color: #6699ff;
  background-image: url(../img/hero-img-1.jpg);
  background-size: cover;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 620px;

  padding: 100px 65px;
}

.hero__title {
  margin: 0 0 24px 0;
  max-width: 837px;

  font-size: 70px;
  font-weight: 800;
  line-height: 85px;

  color: var(--white-color);
}

.hero__subtitle {
  margin: 0 0 15px 0;
  max-width: 790px;

  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: var(--white-color);
}

.hero__button {
  align-self: flex-start;
  margin-top: auto;
  padding: 24px 36px;

  font-size: 23px;
  font-weight: 700;
  line-height: 28px;

  background-color: var(--gold-light);
  color: var(--white-color);
}

.hero__button:hover {
  background-color: var(--button-lightgold);
}

.hero__button:focus {
  background-color: var(--button-lightgold);
}

.hero__button:active {
  background-color: var(--gold-dark);
}

.hero__slider-list {
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 100;
  display: flex;
  column-gap: 20px;
  transform: translateX(-50%);
}

.hero__slider-button {
  padding: 0;
  width: 15px;
  height: 15px;

  display: block;

  background-color: var(--white-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.hero__slider-button--disabled {
  opacity: 40%;
}

/* about */

.about {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 20px;
}

.about__description {
  margin: 0 0 50px 0;
  max-width: 1235px;
}

.about__wrapper {
  display: flex;
}

.about__column {
  max-width: 870px;
  flex-grow: 1;
  flex-basis: 868px;

}

.column-wrap {
  /* max-width: 868px; */
  min-height: 620px;
  margin-right: 32px;

  display: flex;
  align-items: flex-end;

  background-image: url('../img/about-img.jpg');
  background-size: cover;
  background-color: var(--text-color);
}

.column-wrap__box {
  width: 100%;
  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.5);
}

.column-wrap__text {
  max-width: 454px;
  margin: 0 15px 0 0 ;
  font-weight: 700;
  color: var(--white-color);
}

.column-wrap__button {
  display: inline-block;
  padding: 20px 38px;


  line-height: 19px;
  font-weight: 700;
  color: var(--white-color);

  border: 3px solid var(--gold-light);
}

.column-wrap__button:hover {
  border-color: var(--button-lightgold);
  background-color: var(--button-lightgold);
}

.column-wrap__button:focus {
  border-color: var(--button-lightgold);
  background-color: var(--button-lightgold);
}

.column-wrap__button:active {
  border-color: var(--gold-dark);
  background-color: var(--gold-dark);
}

.column-row__wrapper {
  padding: 65px 0 65px 300px;
  border: 1px solid #CACACA;
}

.column-row__wrapper_top {
  margin-bottom: 32px;

  background-image: url('../img/row-top.svg');
  background-size: 190px 165px;
  background-repeat: no-repeat;
  background-position: 60px 65px;
}

.column-row__wrapper_bottom {
  background-image: url('../img/row-bottom.svg');
  background-size: 190px 165px;
  background-repeat: no-repeat;
  background-position: 60px 65px;
}

.column-row__title {
  margin-bottom: 8px;
}

.column-row__text {
  margin: 0;
  padding: 0;
  max-width: 450px;
}


/* works */

.works {
  margin-bottom: 100px;
}

.works__title {
  margin-bottom: 40px;
}

.works__list {
  margin: 0 0 42px 0;
  display: flex;
  gap: 15px 85px;
}

.works__item-link {
  padding: 2px;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
}

.works__item-link:hover {
  color: var(--gold-light);

}

.works__item-link:focus {
  color: var(--text-color);
  border: 2px solid var(--gold-light) ;
}

.works__item-link:active {
  border: none;
  color: var(--gold-dark);
}

.works-wrapper {
  display: flex;
  justify-content: space-between;

}

.works-wrapper__col--left {
  margin-right: 15px;

  display: flex;
  flex-direction: column;


}

.works-wrapper__pic {
  width: 100%;
  height: 100%;
}



.works-wrapper__title {
  margin-bottom: 8px;
}

.works-wrapper__text {
  margin: 0;
  max-width: 758px;
}

.works-wrapper__box-links {
  margin-top: auto;
}

.works-wrapper__link {
  display: inline-block;
  padding: 20px 42px;
}

.works-wrapper__link--gold {
  margin-right: 32px;

  font-weight: 700;
  line-height: 19px;

  color: var(--white-color);
  background-color: var(--gold-light);
  border: 1px solid var(--gold-light);
}

.works-wrapper__link--gold:hover,
.works-wrapper__link--gold:focus {
  background-color: var(--button-lightgold);
  border: 1px solid var(--button-lightgold);
}

.works-wrapper__link--gold:active {
  background-color: var(--gold-dark);
  border: 1px solid var(--gold-dark);
}

.works-wrapper__link--white {
  line-height: 19px;
  color: var(--text-color);

  border: 1px solid var(--text-color);
}

.works-wrapper__link--white:hover,
.works-wrapper__link--white:focus {
  color: var(--white-color);
  background-color: var(--button-gray-hover);
  border: 1px solid var(--button-gray-hover);
}

.works-wrapper__link--white:active {
  color: var(--white-color);
  background-color: var(--black);
  border: 1px solid var(--black);
}


/* faq */

.faq__title {
  margin-bottom: 46px;
}

.faq__item {
  min-height: 110px;
  border-top: 1px solid var(--light-grey);
}

.faq__item:hover {
  border-top: 1px solid var(--gold-light);
  border-bottom: 1px solid var(--gold-light);
}

.faq__item:hover + .faq__item{
  border-top: none;

}

.faq__item--last {
  border-bottom: 1px solid var(--light-grey);
}

.faq__item-link {
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq__item-text {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
}

.faq__item-link:hover .faq__item-text,
.faq__item-link:focus .faq__item-text {
  color: var(--gold-light);
}

.faq__item-link:hover .faq-icon__ellipse,
.faq__item-link:focus .faq-icon__ellipse {
  fill: var(--gold-light);
}

.faq__item-link:hover .faq-icon__plus,
.faq__item-link:focus .faq-icon__plus {
  fill: var(--white-color);
}

.faq__item-description {
  max-width: 1003px;
  margin: 0 0 40px 0;
}


/*footer*/

.footer {
  background-color: var(--footer-bg-color);
}

.footer .container {
  padding: 50px 10px 50px 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-wrap {
  min-height: 494px;
  display: flex;
  flex-direction: column;
  margin-right: 114px;
}

.footer-wrap__logo {
  margin-bottom: 20px;
  width: 224px;
  height: 72px;
}

.footer-wrap__nav-link {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: var(--light-grey);
}

.footer-wrap__nav-link:hover {
  color: var(--gold-light);
}

.footer-wrap__nav-link:focus {
  color: var(--light-grey);
  border: 2px solid var(--gold-light);
}

.footer-wrap__nav-link:active{
  color: var(--gold-dark);
  border: none;
}

.footer-wrap__social-list {
  margin-top: auto;
  display: flex;
}

.footer-wrap__social-item:not(:last-child) {
  margin-right: 25px;
}

.footer-wrap__social-item:hover .footer-wrap__social-icon--fill {
  fill: var(--gold-light);
}

.footer-wrap__social-item:active .footer-wrap__social-icon--fill {
  fill: var(--gold-dark);
}

.footer-form {
  min-width: 570px;
  display: flex;
  flex-direction: column;
}

.footer-form__title {
  margin: 0 0 25px 0;
  font-size: 48px;
  line-height: 59px;
  color: var(--light-grey);
}

.footer-form__content {
  margin-bottom: 25px;
  padding-left: 24px;
  display: inline-block;

  color: var(--light-grey);
  background-color: var(--form-content);
  border: none;
}

.footer-form__content--input {
  height: 60px;
}

.footer-form__content--text {
  height: 150px;
  padding-top: 20px;
}

.footer-form__content:last-child{
  margin-bottom: 32px;
}

.footer-form__wrap {
  display: flex;
  align-items: center;
}

.footer-form__button {
  padding: 19px 52px;
  margin-right: 22px;
  font-weight: 700;
  line-height: 19px;
  color: var(--white-color);
  background-color: var(--gold-light);
  border: none;
}

.footer-form__button:hover,
.footer-form__button:focus {
  cursor: pointer;
  background-color: var(--button-lightgold);
}

.footer-form__button:active {
  cursor: pointer;
  background-color: var(--gold-dark);
}

.footer-form__agree {
  color: var(--light-grey);
}

/* для элемента input c type="checkbox" */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;

  border: 1px solid var(--light-grey);
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: 1px 2px;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  background-color: var(--footer-bg-color);
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
  background-color: var(--footer-bg-color);
  background-image: url("../img/footer-form-icon.svg");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

.footer__text {
  max-width: 363px;
  color: var(--light-grey);
}



